* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.body {
  background-color: white;
}

#header {
  position: absolute;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#header .header-movie {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .header-movie .header-movieLogo {
  width: 42px;
  border-radius: 50%;
}

#header .header-movie h2 {
  color: red;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

#header span {
  color: #333;
}

#header .link {
  text-decoration: none;
}

#header .navLinks span:hover {
  color: #f11026;
}

#header .navLinks ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

#header .navLinks ul li {
  margin: 0 25px;
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
}


