.panel h1 {
  font-size: 3rem;
  font-weight: bold;
  color: red;
  text-align: center;
  justify-content: center;
}

.tri {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 25px;
}

.icon {
  padding: 20px 25px;
  cursor: pointer;
}

.icon:hover {
  padding: 20px 25px;
  cursor: pointer;
}
