/* MovieCard css */
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  width: 100%;
}

.card-movie{
  background-color: #fff;
  border: 4px solid rgb(103, 237, 103);
  padding-block: 1.25rem;
  text-align: center;
  display: grid;
  row-gap: 1.5rem;
  cursor: pointer;
  width: 400px;
  justify-content: space-around;
  /* filter: drop-shadow(0 8px 16px hsla(5, 90%, 4%, .2)); */
  /* margin: 50px auto; */
  /* transition: transform .3s; */
}

.table-movie{
  border-collapse: collapse;
  min-width: 500px;
  width: auto;
  text-align: center;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: 2px solid #1f1d1d;
}

thead tr{
  background-color: #209b0b;
  color: #fff;
}

th, td{
  padding: 15px 20px;
}

tbody, tr, th, td{
  border: 1px solid black;
}

tbody tr:nth-child(even){
  background-color: #f3f3f3;
}

.add-movie .btn-movie{
  display: flex;
  width: 130px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: rgb(217, 152, 72);
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  margin: 50px;
  cursor: pointer;
}

.add-movie .btn-movie:hover{
  display: flex;
  width: 130px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: rgb(217, 152, 72);
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: blanchedalmond;
}

.container{
  display: block;
  align-items: center; /* permet de centrer l'axe des x */
  justify-content: center; /* permet de centrer l'axe des y */
}

form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 15px;
}

h2{
  font-size: 2rem;
}

label{
  margin: 10px;
  font-size: 1.25rem;
}

input[type="text"]{
  margin: 10px;
  padding: 5px;
  outline: 0;
  width: 26%;
}

input[type="text"]:hover{
  margin: 10px;
  padding: 5px;
  outline: 0;
  width: 26%;
  border-color:#1f1d1d;
}

input[type="number"]{
  margin: 10px;
  padding: 5px;
  outline: 0;
}

input[type="number"]:hover{
  margin: 10px;
  padding: 5px;
  outline: 0;
  border-color: #1f1d1d;
}

input[type="file"]{
  margin: 10px;
  padding: 5px;
  outline: 0;
}

textarea:hover{
  border: 2px solid #1f1d1d;
  border-color: #1f1d1d;
}

.add .btn-add{
  display: flex;
  width: 130px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: green;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.add .btn-add:hover{
  display: flex;
  width: 130px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: rgb(60, 230, 85);
  border-color: #fff;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.panel h1{
  font-size: 3rem;
  font-weight: bold;
  color: red;
  text-align: center;
}