/* Filter */
.searchBar .search {
  padding: 5px;
  margin: 10px;
  outline: 0;
  width: 400px;
  border: 2px solid #333;
}

.searchBar .search:hover {
  padding: 5px;
  margin: 10px;
  outline: 0;
  width: 400px;
  border: 2px solid;
  border-color: #f88e23;
}

.searchBar .check {
  padding: 10px;
  margin: 10px;
  outline: 0;
}


